.home {
    
}

/* 
.hero {
	width: 100%;
	background-image: url("../images/clean.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	color: white;
}
.hero .hero_texte {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.hero figure,
.hero figure img {
	border-radius: 50%;
}

.hero figure {
	width: 33%;
	margin: auto;
	padding: 10% 5%;
}
.hero .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.hero p:nth-child(2) {
	font-size: 24px;
	font-weight: 900;
	margin: 0.6rem;
}

.hero p:nth-child(3) {
	font-size: 24px;
	font-weight: 900;
	color: #c68b59;
	margin: 0.6rem;
}

.hero p:nth-child(4) {
	font-size: 18px;
	font-weight: 500;
	margin: 0.6rem;
}

@media screen and (min-width: 768px) {
	.hero p:nth-child(2) {
		font-size: 48px;
	}

	.hero p:nth-child(3) {
		font-size: 48px;
	}

	.hero p:nth-child(4) {
		font-size: 25px;
	}
} */