* {
	box-sizing: border-box;
	border: black 1px solid;
	margin: 0;
	padding: 0;
}
/* sticky footer */
html,
main {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1;
}
/* fin sticky footer */
/* taille du header en responsive petite format mobile */
header {
	width: 100%;
}

/* enlever les propriétés de base pour balise a */
body a {
	text-decoration: none;
	color: inherit;
	transition: 0.3s;
}
/* hover control des liens main et footer */
main a:hover,
footer li a:hover {
	color: #ba3800;
	font-size: 1.05rem;
}
/* taille des images */
img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
/* retirer puces */
ul {
	list-style-type: none;
}
/* champ obligatoire */
:required {
	border-color: #ff1919;
}
/* responsive ordinateur laptop format */
@media screen and (min-width: 1024px) {
	/* repositionnnement et taille du site */
	header {
		width: 20%;
		min-height: 100vh;
		position: fixed;
	}

	main {
		width: 80%;
		margin-left: 20%;
		height: 100vh;
	}

	/* repositionnement  */
	footer {
		width: 80%;
		margin-left: 20%;
	}
}
